<configuration>
    <!-- Define a file appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/investment-funds.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/investment-funds.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define a console appender for general logging -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger for Apache Camel -->
    <logger name="org.apache.camel" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <!-- Logger for a specific class -->
    <logger name="com.github.pozo.investmentfunds.api.grabber" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <!-- Disable the console appender by not including it -->

    <!-- Set the root logger level to INFO and add the file appender -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>